:root {
  --primary-color: #ececec;
  --secondary-color: #222831;
  --background-color: #233142;
  --text-font-family: "Roboto", sans-serif;
  --button-font-family: "Montserrat", sans-serif;
}
body {
  font-family: var(--text-font-family);
  color: var(--primary-color);
  background-color: var(--background-color);
}
h1 {
  font-weight: normal;
  font-size: 64px;
  text-transform: uppercase;
}
h2 {
  font-weight: bold;
  font-size: 24px;
}
h4 {
  font-family: var(--button-font-family);
  color: #66bfbf;
  font-size: 18px;
}
p {
  font-weight: normal;
  font-size: 18px;
}

.hero {
  text-align: center;
  padding-top: 160px;
  padding-bottom: 40px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.content-hero {
  padding-top: 130px;
}

.btn-branding {
  font-family: var(--button-font-family);
  font-weight: normal;
  border-radius: 50px;
  padding: 10px 35px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.btn-branding:hover {
  font-weight: bold;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 20px;
  }
  .hero {
    padding-top: 100px;
  }
}
